<ion-header>
	<app-toolbar [page]="this"> </app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="scrollx">
	<ion-fab *ngIf="pageConfig.isShowFeature" class="feature" vertical="top" horizontal="end" slot="fixed">
		<div class="ion-padding"></div>
	</ion-fab>
	<section class="table" [ngStyle]="{'min-width': 'calc(350px + '+columns.length+'*200px)'}">
		<header class="bold">
			<div class="col-name col-sticky cell" (click)="toggleRowAll()">
				<ion-icon class="min-btn" [name]="!isAllRowOpened? 'add-circle-outline':'remove-circle-outline'"></ion-icon>
				{{'Name' | translate}}
				<ion-icon *ngIf="sort.Name" [name]="sort.Name == 'Name'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Keyword" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-name cell" [ngClass]="{'col-checkbox':  c.DataType =='toggle'}" [class]="c.Code" *ngFor="let c of columns">{{c.Name}}</div>
		</header>

		<!-- <app-page-message [itemsLength]="itemsState.length" [showSpinner]="pageConfig.showSpinner"></app-page-message> -->
		<ng-container *ngFor="let i of itemsState; let j = index;">
			<div class="row" *ngIf="i.show" [ngClass]="{odd: j % 2 != 0}" [ngClass]="{selected: i.checked}">
				<div [ngClass]="i.HasChild? ('bold ') : ('')" class="col-name col-sticky cell">
					<ng-container *ngFor="let w of i.levels; let k = index;"><span class="spacing" *ngIf="k>0"></span></ng-container>
					<ion-icon
						(click)="toggleRow(itemsState, i, true);"
						class="min-btn clickable"
						[name]="i.HasChild? (!i.showdetail? 'chevron-forward-outline':'chevron-down-outline') : ''"
					></ion-icon>
					<!-- <ion-icon class="min-btn" [color]="i.IsHeadOfDepartment?'primary':''" [name]="i.Icon"></ion-icon> -->

					<span> {{i.Name}} </span>
				</div>
				<ng-container *ngFor="let c of columns">
					<div class="col-name cell" [ngClass]="{'col-checkbox':  i[c.Code]?._field?.type =='toggle'}">
						<app-input-control
							*ngIf="i[c.Code] && i[c.Code]._field &&  i[c.Code]._field?.showed"
							[field]="i[c.Code]._field"
							(change)="saveChangeDetail(i[c.Code]._field,$event)"
							(inputChange)="saveChangeDetail(i[c.Code]._field,$event)"
						></app-input-control>
						<ion-icon
							slot="end"
							*ngIf="i[c.Code]?._field?.showEdit && pageConfig.canEdit"
							name="pencil-outline"
							(click)="i[c.Code]._field.showEdit = false;  i[c.Code]._field.showed = true"
						></ion-icon>
					</div>
				</ng-container>

				<!-- <div class="col-name cell" [class]="c.Code" *ngFor="let c of columns">
          <span *ngIf="i._data && i._data.Code == c.Code">{{i._data.Value}} </span>
        </div> -->
			</div>
		</ng-container>
	</section>
</ion-content>
