header {
	height: 60px;
	.cell.col-number {
		white-space: normal !important;
		justify-content: flex-end;
		text-align: right;
	}
}
header.filter {
	height: 30px;
}

.table > form {
	top: 60px;
}

.table .col-checkbox {
	max-width: 150px;
	min-width: 150px;
	text-align: center;
}
.col-name {
	max-width: 250px;
}

app-field-control {
	width: 100%;
}
::ng-deep ng-dropdown-panel {
	max-height: 400px; /* Set a max height */
	width: fit-content !important;
}
::ng-deep ion-toggle {
	z-index: 0 !important;
}
