<ion-header>
	<app-toolbar
		[page]="this"
		pageTitle="{{'Configuration' | translate}}"
		[pageConfig]="pageConfig"
		[selectedItems]="selectedItems"
		[query]="optionQuery"
		(refresh)="refresh()"
		(help)="help()"
	></app-toolbar>
	<div class="withFeature left" [ngClass]="{withFeature: pageConfig.isShowFeature}" *ngIf="pageConfig.isShowSearch">
		<section class="table">
			<header class="bold">
				<div class="col-checkbox cell"></div>
				<div class="col-name cell">
					{{'Search confirguration' | translate}}
					<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="optionQuery.Keyword" name="search" color="primary"></ion-icon>
				</div>
			</header>
			<form (submit)="preLoadData(null)" action="#">
				<header class="filter">
					<div class="col-checkbox cell"></div>
					<div class="cell">
						<input [ngModelOptions]="{standalone: true}" [(ngModel)]="optionQuery.Keyword" class="c-input" [ngClass]="{active: optionQuery.Keyword}" type="text" />
						<ion-icon class="min-btn" (click)="optionQuery.Keyword=''; preLoadData(null)" *ngIf="optionQuery.Keyword" name="close-circle-outline"></ion-icon>
					</div>
					<button mat-raised-button type="submit" style="display: none">Search</button>
				</header>
			</form>
		</section>
	</div>
</ion-header>

<ion-content appScrollbarTheme class="left" [ngClass]="{withFeature: pageConfig.isShowFeature}" forceOverscroll="false">
	<ion-fab
		*ngIf="pageConfig.isShowFeature"
		[ngClass]="{withSearch: pageConfig.isShowSearch,'ion-hide-md-down': pageConfig.isSubActive}"
		class="feature no-print"
		vertical="bottom"
		horizontal="start"
		slot="fixed"
	>
		<app-page-message [itemsLength]="1" [showSpinner]="pageConfig.showSpinner"></app-page-message>
		<div *ngIf="pageConfig.showSpinner==false">
			<div class="ion-padding" style="padding-bottom: 0">
				<div class="c-control">
					<label class="c-label" for="IDBranch">
						<ion-text color="primary"> {{'Unit' | translate}} </ion-text>
					</label>
					<ng-select
						class="c-input no-check-dirty"
						[searchFn]="searchShowAllChildren"
						(change)="selectBranch();"
						appendTo=""
						#IDBranch
						[(ngModel)]="selectedBranch"
						labelForId="IDBranch"
						[items]="branchList"
						bindLabel="Name"
						bindValue=""
						placeholder="{{'Select unit' | translate}}"
					>
						<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
							<div *ngIf="i">
								<div>
									<span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
									<ion-text [color]=" i.Type == 'Company'? 'primary':'dark'" [ngOptionHighlight]="search">{{i.Name}}</ion-text>
								</div>
							</div>
						</ng-template>
					</ng-select>
				</div>
			</div>
			<div *ngIf="selectedBranch">
				<ion-list-header lines="full">
					<ion-label color="dark">{{'Settings' | translate}}</ion-label>
				</ion-list-header>
				<ion-list>
					<ion-item
						*ngFor="let i of optionGroup"
						[color]="segmentView == i.Code? 'primary': '' "
						button
						detail="true"
						lines="full"
						class="clickable"
						(click)="loadNode(i)"
					>
						<ion-label class="ion-text-wrap">
							<h3>{{i.Name}}</h3>
							<p *ngIf="i.Remark">{{i.Remark}}</p>
						</ion-label>
					</ion-item>
				</ion-list>
			</div>
			<div class="ion-padding" style="padding-bottom: 0"></div>
		</div>
	</ion-fab>
	<ion-grid fixed>
		<ion-row>
			<ion-col size="12">
				<div class="ion-padding" *ngIf="selectedBranch" style="min-width: 300px">
					<app-page-title
						class="ion-margin-bottom"
						*ngIf="selectedOption"
						icon="cog-outline"
						color="primary"
						[title]="selectedOption.Name"
						[remark]="selectedOption.Remark"
					></app-page-title>
					<app-dynamic-config
						*ngIf="loadedConfig"
						[configItem]="configList"
						[branch]="selectedBranch"
						[options]="subOptions"
						(savedConfig)="savedConfig($event)"
					></app-dynamic-config>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
