.full-screen {
  min-height: calc(100vh - 97px);

  @media screen and (max-width: calc(1164px + 0px)) {
    background-color: transparent;
  }
}
::ng-deep{
  .c-control .c-input.ng-select.ng-select-multiple{
    min-height: unset; 
    height: 2.375rem !important;
  }
}
